<form class="form-horizontal">
    <div class="form-group">
        <label class="control-label">Id</label>
        <input class="form-control" placeholder="id" ng-model="place.id" />
    </div>
    <div class="form-group">
        <label class="control-label">Address</label>
        <input class="form-control" placeholder="Address" ng-model="place.address" />
    </div>
    <div class="form-group">
        <label class="control-label">Description</label>
        <input class="form-control" placeholder="Description" ng-model="place.description" />
    </div>
</form>