<div style="padding-top:15px">
    <div class="row">
        <div class="col-md-3 col-md-offset-2">
            <h2>Place info</h2>
            <place-form></place-form>
            <button type="button" class="btn btn-primary btn-block" ng-click="placeCtrl.clearPlaceInfo()">
                Clear
            </button>
            <button type="button" class="btn btn-primary btn-block" ng-click="placeCtrl.toMeeting()">
                Send Place object to Meeting Tab
            </button>
        </div>
        <div class="col-md-3 col-md-offset-1">
            <h2>Actions</h2>
            <div style="padding-top:10px">
                <button type="button" class="btn btn-primary btn-block" ng-click="placeCtrl.postPlace()">Create</button>
                <button type="button" class="btn btn-primary btn-block" ng-click="placeCtrl.getPlace()">Get</button>
                <button type="button" class="btn btn-primary btn-block" ng-click="placeCtrl.updatePlace()">Update</button>
                <button type="button" class="btn btn-primary btn-block" ng-click="placeCtrl.deletePlace()">Delete</button>
            </div>
        </div>
    </div>
</div>