<div style="padding-top:15px">
    <div class="row">
        <div class="col-md-3 col-md-offset-2">
            <h2>User info</h2>
            <user-form></user-form>
            <button type="button" class="btn btn-primary btn-block" ng-click="userCtrl.clearUserInfo()">
                Clear
            </button>
            <button type="button" class="btn btn-primary btn-block" ng-click="userCtrl.toMeeting()">
                Send User to Meeting Tab
            </button>
        </div>
        <div class="col-md-3 col-md-offset-1">
            <h2>Actions</h2>
            <div style="padding-top:25px">
                <button type="button" class="btn btn-primary btn-block" ng-click="userCtrl.postUser()">Create</button>
                <button type="button" class="btn btn-primary btn-block" ng-click="userCtrl.getById()">Get by ID</button>
                <button type="button" class="btn btn-primary btn-block" ng-click="userCtrl.getByEmail()">Get by Email</button>
                <button type="button" class="btn btn-primary btn-block" ng-click="userCtrl.updateUser()">Update</button>
                <button type="button" class="btn btn-primary btn-block" ng-click="userCtrl.deleteUser()">Delete</button>     
            </div>
        </div>
    </div>
</div>
